/* input[type=range] {
	-webkit-appearance: none;
	width: 20%;
	background: transparent;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;

	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range] {
	width: 20%;
	height: 14px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #28b486;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
} */

.active {
  background-color: rgb(34, 119, 255) !important;
  color: #fff !important;
}

.pointer {
  cursor: pointer;
}

.css-1hwfws3 {
  min-height: 50px;
}

.btn,
.custom-file-control:before {
  margin-bottom: 0;
}

.ant-select-selector {
  height: 52px !important;
}

.ant-select-selection-placeholder {
  margin-top: 5px;
}

.ant-select-selection-item {
  margin-top: 5px;
}

.ant-modal-footer {
  display: none;
}

.btn-primary {
  background-color: rgb(34, 119, 255) !important;
}

.backround-img {
  background-image: url(./images/background2.png);
  background-size: cover;
  background-position: center;
}

.backround2-img {
  background-image: url(./images/background.jpeg);
  background-size: cover;
  background-position: center;
}
/* 
.bg-smoke {
  background-color: whitesmoke;
} */

.primary-heading {
  /* display: inline-block; */
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 750;
  background-image: linear-gradient(to right, #6455ec, #2a07f3);
  background-clip: text;
  color: transparent;
  letter-spacing: 2.5px;
}

.auth-form {
  border-radius: 5%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: rgb(238, 238, 238);
}

.auth-form:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.auth-form2 {
  background-color: rgb(238, 238, 238);
}

.auth-form2:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.star-color {
  color: orange !important;
}
